// Colors
$text: #CACACA;
$pozadi-webu: #252525;
$pozadi-menu: #141414;
$odkazy: #B6B61E;
$odkazy-hover: #FFFF00;
$oddelovac: #54595F;
$pozadi-uvod: #1E1E1E;
$pozadi-prvku: #333333;
$prvek: #995B18;
$prvek-hover: #693F11;
$footer: #1E1E1E;

// Typography
$font-stack: "Poppins", "Noto Color Emoji", sans-serif;
$font-size-base: 16px;
