.card {
  gap: 20px;
  align-items: stretch; }
  .card > .icon {
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    width: unset; }
  .card > .profile-details {
    width: 100%; }
    .card > .profile-details > .detail-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px; }
      .card > .profile-details > .detail-row > .label {
        font-weight: bold; }
      .card > .profile-details > .detail-row > .value {
        opacity: 0.9; }
      .card > .profile-details > .detail-row .not-set {
        font-style: italic;
        opacity: 0.5; }

.register,
.login {
  flex-direction: column;
  gap: 10px; }
  .register > .text,
  .login > .text {
    margin-top: 30px;
    opacity: 0.8; }

.login-failed {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: red; }
  .login-failed > i {
    color: red; }
