@import "../../wwwroot/css/variables";

.card {
    gap: 20px;
    align-items: stretch;

    > .icon {
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        width: unset;
    }

    .detail-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        > .label {
            font-weight: bold;
        }

        > .value {
            opacity: 0.9;
        }

        .not-set {
            font-style: italic;
            opacity: 0.5;
        }
    }
}

.register,
.login {
    flex-direction: column;
    gap: 10px;

    > .text {
        margin-top: 30px;
        opacity: 0.8;
    }
}

.login-failed {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: red;

    > i {
        color: red;
    }
}
