@import "../../wwwroot/css/variables";

.card {
    > .icon {
        animation: shake 0.5s ease-in-out infinite alternate;
    }

    > .technical-info {
        > .request-id-box {
            display: flex;
            flex-direction: column;
            word-break: break-all;
            background-color: white;
            border: 2px solid $text;
            padding: 10px;

            > .label {
                color: red;
                font-weight: bold;
            }

            > .code {
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
