.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E1E1E;
  padding: 18px;
  margin-top: 100px;
  z-index: 99; }
  .footer div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px; }
    .footer div a.btn {
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer div a.btn > i {
        color: #CACACA;
        transition: all 0.3s; }
      .footer div a.btn:hover > i {
        color: white; }
