@import "../../wwwroot/css/variables";

.form-card {
    background-color: $pozadi-uvod;
    border: 4px solid $text;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    box-shadow: 8px 8px 0px $text;

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 8px;

        > label {
            font-weight: bold;
            margin-left: 5px;
        }

        > input,
        > select {
            padding: 12px 15px;
            border: 3px solid $text;
            border-radius: 10px;
            font-size: 20px;
            background-color: $pozadi-prvku;
            transition: all 0.3s ease;

            &:focus {
                outline: none;
                border-color: white;
            }
        }

        > select {
            padding: 12px 10px;
        }

        > .text-danger {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;

            > span {
                color: red;
            }
        }
    }

    .buttons {
        margin-top: 20px;
    }
}
