@import "../../wwwroot/css/variables";

.card {
    .form-group {
        display: flex;
        flex-direction: column;
        gap: 8px;

        > label {
            font-weight: bold;
            margin-left: 5px;
        }

        > input,
        > select {
            padding: 12px 15px;
            border: 3px solid $text;
            border-radius: 10px;
            font-size: 20px;
            background-color: $pozadi-prvku;
            width: 100%;
            transition: all 0.3s ease;

            &:focus {
                outline: none;
                border-color: white;
            }
        }

        > select {
            padding: 12px 10px;
        }

        > .text-danger {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
            color: red;

            > span {
                color: red;
            }
        }
    }

    .buttons {
        margin-top: 20px;
    }
}
