.card .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px; }
  .card .form-group > label {
    font-weight: bold;
    margin-left: 5px; }
  .card .form-group > input,
  .card .form-group > select {
    padding: 12px 15px;
    border: 3px solid #CACACA;
    border-radius: 10px;
    font-size: 20px;
    background-color: #333333;
    width: 100%;
    transition: all 0.3s ease; }
    .card .form-group > input:focus,
    .card .form-group > select:focus {
      outline: none;
      border-color: white; }
  .card .form-group > select {
    padding: 12px 10px; }
  .card .form-group > .text-danger {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: red; }
    .card .form-group > .text-danger > span {
      color: red; }

.card .buttons {
  margin-top: 20px; }
