@import "fonts";
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
    color: $text;
}

html {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    background: $pozadi-webu;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    > main {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;
        color: $text;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
        transition: all 0.5s ease;

        padding-top: 80px;

        @media screen and (max-width: 768px) {
            padding-top: 120px;
        }

        > section {
            display: flex;
            flex-direction: column;
            padding: 50px 30px;
        }
    }
}

a, a:visited {
    color: $odkazy;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover, a:focus, a:active {
    color: $odkazy-hover;
}

h2 {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
}

.oddelovac {
    border: none;
    border-top: 5px dotted $oddelovac;
    margin: 10px 15px;
}

.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: $prvek;
    border: 4px solid $text;
    border-radius: 24px;
    padding: 8px 12px;
    cursor: pointer;
    transition: all .3s;
    width: max-content;

    &:hover {
        background-color: $prvek-hover;
        color: $text;
    }
}

/* KONEC OBECNÉHO */

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 17px; /* default */
    background: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $pozadi-menu;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #111111;
}

/* KONEC SCROLLBARU */
