@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-ExtraLight.ttf);
  font-weight: 200;
  font-display: swap; }

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Light.ttf);
  font-weight: 300;
  font-display: swap; }

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
  font-weight: 500;
  font-display: swap; }

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
  font-display: swap; }

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.ttf);
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-ExtraBold.ttf);
  font-weight: 800;
  font-display: swap; }

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Black.ttf);
  font-weight: 900;
  font-display: swap; }

@font-face {
  font-family: "Noto Color Emoji";
  src: url(../fonts/NotoColorEmoji-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Noto Color Emoji", sans-serif;
  color: #CACACA; }

html {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  background: #252525;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; }
  body > main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    color: #CACACA;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    transition: all 0.5s ease;
    padding-top: 80px; }
    @media screen and (max-width: 768px) {
      body > main {
        padding-top: 120px; } }
    body > main > section {
      display: flex;
      flex-direction: column;
      padding: 50px 30px; }

a, a:visited {
  color: #B6B61E;
  text-decoration: none;
  transition: all 0.5s ease; }

a:hover, a:focus, a:active {
  color: #FFFF00; }

h2 {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 20px; }

.oddelovac {
  border: none;
  border-top: 5px dotted #54595F;
  margin: 10px 15px; }

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; }

button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-color: #995B18;
  border: 4px solid #CACACA;
  border-radius: 24px;
  padding: 8px 12px;
  cursor: pointer;
  width: max-content;
  color: #CACACA !important;
  font-weight: bold;
  transition: all 0.3s; }
  button > i,
  .button > i {
    margin-right: 8px;
    font-size: 24px; }
  button:hover,
  .button:hover {
    background-color: #693F11;
    transform: translateY(-4px);
    box-shadow: 2px 2px 0px #CACACA;
    color: #CACACA !important; }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  gap: 40px; }
  @media screen and (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr; } }
  .grid > .card {
    padding: 30px 20px;
    text-align: center;
    border: 4px solid #CACACA;
    border-radius: 20px;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease; }
    .grid > .card > .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      background-color: white;
      border: 4px solid #CACACA;
      border-radius: 50%;
      margin-bottom: 20px;
      transition: all 0.3s ease; }
      .grid > .card > .icon-wrapper > i {
        font-size: 40px;
        color: #CACACA; }
    .grid > .card > h3 {
      font-weight: bold;
      margin-bottom: 10px; }
    .grid > .card:hover {
      transform: translateY(-10px);
      box-shadow: 5px 5px 0px #CACACA; }
      .grid > .card:hover .icon-wrapper {
        background-color: #B6B61E;
        border-color: white; }
        .grid > .card:hover .icon-wrapper i {
          color: white; }

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 17px;
  /* default */
  background: transparent; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: #141414;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: #111111; }

/* KONEC SCROLLBARU */
