@import "fonts";
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
    color: $text;
}

html {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    background: $pozadi-webu;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    > main {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;
        color: $text;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
        transition: all 0.5s ease;
        padding-top: 80px;

        @media screen and (max-width: 768px) {
            padding-top: 120px;
        }

        > section {
            display: flex;
            flex-direction: column;
            padding: 50px 30px;

            &.section-container {
                margin: 0 auto;

                > .section-header {
                    text-align: center;
                    margin-bottom: 30px;

                    > p {
                        font-style: italic;
                        opacity: 0.8;
                    }
                }

                > .card {
                    background-color: $pozadi-uvod;
                    border: 4px solid $text;
                    border-radius: 20px;
                    padding: 40px;
                    text-align: center;
                    box-shadow: 10px 10px 0px $text;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    > .icon {
                        display: flex;
                        font-size: 64px;
                        margin-bottom: 12px;
                        width: max-content;
                    }

                    > p {
                        font-style: italic;
                        opacity: 0.8;
                    }

                    > .technical-info {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        border: 2px dashed red;
                        border-radius: 10px;
                        padding: 20px;
                        margin-bottom: 30px;
                        background-color: rgba(255, 140, 0, 0.1);

                        > .info-label {
                            font-weight: bold;
                        }

                        > .hint {
                            font-weight: bold;
                            font-size: 16px;
                            font-style: italic;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

a, a:visited {
    color: $odkazy;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover, a:focus, a:active {
    color: $odkazy-hover;
}

h2 {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
}

.oddelovac {
    border: none;
    border-top: 5px dotted $oddelovac;
    margin: 10px 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

button,
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: $prvek;
    border: 4px solid $text;
    border-radius: 24px;
    padding: 8px 12px;
    cursor: pointer;
    width: max-content;
    color: $text !important;
    font-weight: bold;
    transition: all 0.3s !important;

    > i {
        margin-right: 8px;
        font-size: 24px;
    }

    &:hover {
        background-color: $prvek-hover;
        transform: translate(-4px, -4px);
        box-shadow: 2px 2px 0px $text;
        color: $text !important;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    gap: 40px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    > .card {
        padding: 30px 20px;
        text-align: center;
        border: 4px solid $text;
        border-radius: 20px;
        background-color: $pozadi-uvod;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease;

        > .icon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            background-color: white;
            border: 4px solid $text;
            border-radius: 50%;
            margin-bottom: 20px;
            transition: all 0.3s ease;

            > i {
                font-size: 40px;
                color: $text;
            }
        }

        > h3 {
            font-weight: bold;
            margin-bottom: 10px;
        }

        &:hover {
            transform: translateY(-10px);
            box-shadow: 5px 5px 0px $text;

            .icon-wrapper {
                background-color: $odkazy;
                border-color: white;

                i {
                    color: white;
                }
            }
        }
    }
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 17px; /* default */
    background: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $pozadi-menu;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #111111;
}

/* KONEC SCROLLBARU */
