@import "../../wwwroot/css/variables";

.hero-section {
    text-align: center;
    align-items: center;
    gap: 20px;

    > h2 {
        margin-bottom: 0px;
    }

    .hero-logo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 6px solid $text;
        object-fit: cover;
        transition: transform 0.5s ease;

        &:hover {
            transform: rotate(20deg);
        }
    }

    > p {
        font-style: italic;
        opacity: 0.8;
    }
}

.welcome-back {
    border: 4px dashed $text;
    padding: 20px;
    border-radius: 20px;
    background-color: $pozadi-uvod;
}
