.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #141414;
  z-index: 99;
  transition: all 0.5s ease;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
  padding: 16px 60px;
  height: 80px;
  border-bottom: 2px solid black; }
  .header > .logo > a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: fit-content; }
    .header > .logo > a > img {
      height: 30px;
      width: 30px;
      object-fit: cover; }
    .header > .logo > a > .logoName {
      color: white;
      font-size: 25px;
      letter-spacing: -1.5px;
      font-weight: 600;
      white-space: nowrap;
      pointer-events: auto;
      transition: all 0.5s ease; }
  .header > .navigation {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; }
    .header > .navigation::-webkit-scrollbar {
      height: 8px;
      background: transparent; }
    .header > .navigation::-webkit-scrollbar-track {
      border-radius: 10px; }
    .header > .navigation::-webkit-scrollbar-thumb {
      background: #CACACA;
      border-radius: 10px; }
    .header > .navigation::-webkit-scrollbar-thumb:hover {
      background: white; }
    .header > .navigation > ul.navList {
      list-style: none;
      display: flex;
      align-items: center;
      column-gap: 40px; }
      .header > .navigation > ul.navList li > a {
        position: relative;
        display: flex;
        padding: 8px 10px;
        width: fit-content; }
        .header > .navigation > ul.navList li > a:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 4px;
          bottom: 8px;
          height: 4px;
          width: 0px;
          background-color: white;
          transition: all 0.3s; }
        .header > .navigation > ul.navList li > a > .linksName {
          font-size: 20px;
          font-weight: 400;
          white-space: nowrap;
          pointer-events: auto;
          transition: all 0.5s ease; }
        .header > .navigation > ul.navList li > a.btn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
          font-size: 20px;
          background-color: #1E1E1E;
          border: 1px dashed #CACACA;
          border-radius: 10px;
          padding: 10px;
          cursor: pointer;
          user-select: none;
          transition: all 0.3s; }
          .header > .navigation > ul.navList li > a.btn > i {
            color: #CACACA;
            transition: all 0.3s; }
          .header > .navigation > ul.navList li > a.btn:hover,
          .header > .navigation > ul.navList li > a.btn:hover > i {
            border-color: white;
            color: white; }
            .header > .navigation > ul.navList li > a.btn:hover:after,
            .header > .navigation > ul.navList li > a.btn:hover > i:after {
              width: 0px !important; }
        .header > .navigation > ul.navList li > a:hover > .linksName,
        .header > .navigation > ul.navList li > a.active > .linksName {
          color: white; }
        .header > .navigation > ul.navList li > a:hover:after, .header > .navigation > ul.navList li > a.active:after {
          width: calc(100% - 6px); }
      .header > .navigation > ul.navList .buttons {
        display: flex;
        gap: 6px; }
        .header > .navigation > ul.navList .buttons .linksName {
          position: relative;
          display: flex;
          padding: 8px 10px;
          width: fit-content;
          font-size: 20px;
          font-weight: 400;
          white-space: nowrap;
          pointer-events: auto;
          transition: all 0.5s ease; }

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    row-gap: 8px;
    padding: 6px !important;
    justify-content: center !important;
    height: 120px !important; }
    .header > .navigation {
      max-width: 100%; }
      .header > .navigation > ul.navList {
        column-gap: 10px !important; } }
