.intro-text {
  text-align: center; }
  .intro-text > p {
    font-style: italic;
    opacity: 0.8; }

.danger-card {
  padding: 20px;
  text-align: center;
  border: 6px dashed red;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .danger-card > h2 {
    color: red;
    letter-spacing: 2px; }
  .danger-card > p {
    font-weight: bold; }
  .danger-card > .danger-icon {
    display: flex;
    font-size: 64px;
    color: red;
    margin-bottom: 12px;
    width: max-content;
    animation: pulse 2s infinite; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
