.section-container {
  width: 100%; }
  .section-container .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; }
    @media screen and (max-width: 768px) {
      .section-container .section-header {
        flex-direction: column; } }
    .section-container .section-header > h2 {
      margin-bottom: 0px; }

.card {
  padding: 20px !important; }
  .card > .table-container {
    width: 100%;
    overflow-x: auto; }
    .card > .table-container > .table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0; }
      .card > .table-container > .table > thead {
        background-color: #141414; }
        .card > .table-container > .table > thead > tr > th {
          padding: 14px;
          font-weight: bold;
          text-transform: uppercase;
          white-space: nowrap; }
          .card > .table-container > .table > thead > tr > th:first-child {
            border-top-left-radius: 10px; }
          .card > .table-container > .table > thead > tr > th:last-child {
            border-top-right-radius: 10px; }
      .card > .table-container > .table > tbody > tr > td {
        padding: 14px;
        border-top: 1px solid #CACACA;
        border-right: 1px solid #CACACA; }
        .card > .table-container > .table > tbody > tr > td:last-child {
          border-right: none; }
        .card > .table-container > .table > tbody > tr > td > a {
          display: inline-flex; }
          .card > .table-container > .table > tbody > tr > td > a > i {
            font-size: 34px; }
        .card > .table-container > .table > tbody > tr > td > .buttons {
          flex-wrap: nowrap;
          gap: 10px; }
          .card > .table-container > .table > tbody > tr > td > .buttons .button {
            padding: 4px;
            border: 2px solid #CACACA;
            border-radius: 8px; }
            .card > .table-container > .table > tbody > tr > td > .buttons .button > i {
              margin: 0; }
            .card > .table-container > .table > tbody > tr > td > .buttons .button.edit {
              background-color: royalblue; }
              .card > .table-container > .table > tbody > tr > td > .buttons .button.edit:hover {
                background-color: royalblue; }
            .card > .table-container > .table > tbody > tr > td > .buttons .button.delete {
              background-color: darkred; }
              .card > .table-container > .table > tbody > tr > td > .buttons .button.delete:hover {
                background-color: darkred; }
            .card > .table-container > .table > tbody > tr > td > .buttons .button.create {
              background-color: green; }
              .card > .table-container > .table > tbody > tr > td > .buttons .button.create:hover {
                background-color: green; }
      .card > .table-container > .table > tbody > tr:last-child td {
        border-bottom: 1px solid #CACACA; }
    .card > .table-container > .empty {
      padding: 50px 20px; }
      .card > .table-container > .empty > p {
        font-weight: bold; }
