@model ExaminationResult

@{
    ViewData["Title"] = "Upravit výsledek vyšetření";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label class="form-label">Popis</label>
        <input class="form-control" placeholder="@Model.Description" asp-for="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Hodnoty</label>
        <input class="form-control" placeholder="@Model.Values" asp-for="Values">
        <span asp-validation-for="Values" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Příloha</label>
        <input id="File" class="form-control-file" asp-for="Attachment">
        <span asp-validation-for="Attachment" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">FK</label>
        <input class="form-control" placeholder="@Model.ExaminationId" asp-for="ExaminationId">
        <span asp-validation-for="ExaminationId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/validations/FirstLetterCapitalized.js"></script>
    <script src="~/js/Validations/FileContentValidation.js"></script>
}
