@model ErrorViewModel
@{
    ViewData["Title"] = "Chyba";
}

<section>
    <h2>Něco se pokazilo 🫤</h2>

    <p>Omlouváme se, při zpracování vašeho požadavku došlo k neočekávané chybě.</p>
    <p>Zkuste akci opakovat později, nebo se vraťte na úvodní stránku.</p>

    @if (Model.ShowRequestId)
    {
        <br />
        <p>Pokud budete kontaktovat technickou podporu, uveďte prosím toto ID:</p>
        <p style="font-weight: bold; border: 2px solid red; padding: 6px; width: max-content;">@Model.RequestId</p>
    }

    <br />
    <div class="button-center">
        <a class="button" asp-area="" asp-controller="Home" asp-action="Index">Zpátky domů</a>
    </div>
</section>
