@model ErrorViewModel
@{
    ViewData["Title"] = "Chyba";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/error.min.css" asp-append-version="true" />
}

<section class="section-container">
    <div class="card">
        <div class="icon">
            <i class='bx bxs-bomb'></i>
        </div>

        <h2>UPS, NĚCO BOUCHLO</h2>

        <p>Omlouváme se, ale server si právě vzal neplánovanou dovolenou.</p>
        <p>Při zpracování vašeho požadavku došlo k chybě.</p>

        <br />

        @if (Model.ShowRequestId)
        {
            <div class="technical-info">
                <p class="info-label">TECHNICKÉ DETAILY PRO IT ODDĚLENÍ:</p>
                <div class="request-id-box">
                    <span class="label">REQUEST ID:</span>
                    <span class="code">@Model.RequestId</span>
                </div>
                <p class="hint">Pokud budete kontaktovat podporu, opište jim tento kód. Budou vědět, kde kopat.</p>
            </div>
        }

        <div class="buttons">
            <a class="button" asp-area="" asp-controller="Home" asp-action="Index">
                <i class='bx bx-home'></i> Zpátky do bezpečí
            </a>
        </div>
    </div>
</section>
