@{
    ViewData["Title"] = "Domů";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/home.min.css" asp-append-version="true" />
}

<section class="hero-section">
    <img src="~/images/Pingu.jpg" alt="Logo" class="hero-logo" />

    <h2>Nemocniční systém</h2>
    <p class="subtitle">Systém, který (většinou) nepadá.</p>

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="buttons">
            <a class="button" asp-area="Account" asp-controller="Home" asp-action="Login">
                <i class='bx bx-log-in'></i> Vstoupit do systému
            </a>
            <a class="button" asp-area="Account" asp-controller="Home" asp-action="Register">
                <i class='bx bx-user-plus'></i> Zaregistrovat se
            </a>
        </div>
    }
    else
    {
        <div class="welcome-back">
            <h3>Vítejte zpět, @User.Identity.Name!</h3>
        </div>
    }
</section>

<hr class="oddelovac">

<section>
    <h2 class="section-title">Co náš systém umí?</h2>

    <div class="grid">
        <div class="card">
            <div class="icon-wrapper">
                <i class='bx bx-pulse'></i>
            </div>

            <h3>Objednání online</h3>

            <p>Protože volat sestřičce v 7 ráno nikoho nebaví. Naklikejte si termín vyšetření z gauče (ale aspoň 2 dny předem!).</p>
        </div>

        <div class="card">
            <div class="icon-wrapper">
                <i class='bx bx-injection'></i>
            </div>

            <h3>Včeličky pro všechny</h3>

            <p>Vakcinace bez front. Vyberte typ vakcíny, datum a přijďte si pro svou dávku imunity.</p>
        </div>

        <div class="card">
            <div class="icon-wrapper">
                <i class='bx bx-user-pin'></i>
            </div>

            <h3>Výsledky v cloudu</h3>

            <p>Lékař nahraje zprávu, vy si ji stáhnete. Žádné ztracené papíry, pokud tedy nezapomenete heslo.</p>
        </div>

        <div class="card">
            <div class="icon-wrapper">
                <i class='bx bx-first-aid'></i>
            </div>

            <h3>Pořádek v pacientech</h3>

            <p>Lékaři vidí jen své pacienty a nastavují si limity, aby se z toho nezbláznili. Admin na vše dohlíží.</p>
        </div>
    </div>
</section>
