@{
    ViewData["Title"] = "Stránka nenalezena";
}

<section>
    <h2>Stránka nenalezena</h2>

    <p>Zabloudil jsi? Tato stránka neexistuje.</p>
    <br />
    <div class="button-center">
        <a class="button" asp-area="" asp-controller="Home" asp-action="Index">Zpátky domů</a>
    </div>
</section>
