<footer class="footer">
    <div>
        Copyright &copy; 2025
        <a href="https://martinhrubos.cz/" target="_blank">martinhrubos.cz</a>
        |
        <a class="btn" href="https://github.com/Heshtor/Hrubos.HospitalSystem" target="_blank" rel="noopener noreferrer nofollow noindex">
            <i class='bx bxl-github'></i>
        </a>
    </div>
</footer>
