@import "../../wwwroot/css/variables";

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $footer;
    padding: 18px;
    height: 60px;
    margin-top: 100px;
    z-index: 99;

    div {
        display: flex;
        gap: 6px;

        a.btn {
            display: flex;
            justify-content: center;
            align-items: center;

            > i {
                color: $text;
                transition: all 0.3s;
            }

            &:hover > i {
                color: white;
            }
        }
    }
}
