<!DOCTYPE html>

<html lang="cs-cz">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Nemocniční systém - @ViewData["Title"]</title>

        <script type="importmap"></script>

        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
        <link rel="stylesheet" href="~/css/global.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/navbar.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/footer.min.css" asp-append-version="true" />
        <!-- <link rel="stylesheet" href="~/Hrubos.HospitalSystem.Web.styles.css" asp-append-version="true" /> -->

        @await RenderSectionAsync("Styles", required: false)
    </head>

    <body>
        <partial name="_Navbar" />

        <main>
            @RenderBody()
        </main>

        <partial name="_Footer" />


        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
