<header class="header" id="navbar">
    <div class="logo">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/Pingu.jpg" alt="logo" />
            <span class="logoName">Nemocniční systém</span>
        </a>
    </div>

    <nav class="navigation">
        <ul class="navList">
            @if (User.Identity.IsAuthenticated && (User.IsInRole("Patient")))
            {
                <li>
                    <a asp-area="Patient" asp-controller="Home" asp-action="Index">
                        <span class="linksName">Pacient panel</span>
                    </a>
                </li>
            }

            @if (User.Identity.IsAuthenticated && (User.IsInRole("Doctor")))
            {
                <li>
                    <a asp-area="Doctor" asp-controller="Home" asp-action="Index">
                        <span class="linksName">Doktor panel</span>
                    </a>
                </li>
            }

            @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
            {
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <span class="linksName">Admin panel</span>
                    </a>
                </li>
            }

            @if (User.Identity.IsAuthenticated)
            {
                <div class="buttons">
                    <li>
                        <a class="account-btn" asp-area="Account" asp-controller="Home" asp-action="Index" title="účet">
                            <span class="linksName">@User.Identity.Name</span>
                        </a>
                    </li>

                    <div class="oddelovac-vertical"></div>

                    <li>
                        <a class="btn" asp-area="Account" asp-controller="Home" asp-action="Logout" title="odhlásit se">
                            <i class='bx bx-log-out'></i>
                        </a>
                    </li>
                </div>
            } else
            {
                <div class="buttons">
                    <li>
                        <a class="account-btn" title="účet">
                            <span class="linksName">nepřihlášen</span>
                        </a>
                    </li>

                    <div class="oddelovac-vertical"></div>

                    <li>
                        <a class="btn" asp-area="Account" asp-controller="Home" asp-action="Login" title="přihlásit se">
                            <i class='bx bx-log-in'></i>
                        </a>
                    </li>
                </div>
            }
        </ul>
    </nav>
</header>
