@import "../../wwwroot/css/variables";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $pozadi-menu;
    z-index: 99;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
    padding: 16px 60px;
    height: 80px;
    border-bottom: 2px solid black;

    > .logo {
        > a {
            display: flex;
            align-items: center;
            column-gap: 10px;
            width: fit-content;

            > img {
                height: 30px;
                width: 30px;
                object-fit: cover;
            }

            > .logoName {
                color: white;
                font-size: 25px;
                letter-spacing: -1.5px;
                font-weight: 600;
                white-space: nowrap;
                pointer-events: auto;
                transition: all 0.5s ease;
            }
        }
    }

    > .navigation {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            height: 8px;
            background: transparent;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: $text;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: white;
        }

        > ul.navList {
            list-style: none;
            display: flex;
            align-items: center;
            column-gap: 40px;

            li {
                > a {
                    position: relative;
                    display: flex;
                    padding: 8px 10px;
                    width: fit-content;

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 4px;
                        bottom: 8px;
                        height: 4px;
                        width: 0px;
                        background-color: white;
                        transition: all 0.3s;
                    }

                    > .linksName {
                        font-size: 20px;
                        font-weight: 400;
                        white-space: nowrap;
                        pointer-events: auto;
                        transition: all 0.5s ease;
                    }

                    &.btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 6px;
                        font-size: 20px;
                        padding: 10px;
                        cursor: pointer;
                        user-select: none;
                        transition: all 0.3s;

                        > i {
                            color: $text;
                            transition: all 0.3s;
                        }

                        &:hover,
                        &:hover > i {
                            border-color: white;
                            color: white;

                            &:after {
                                width: 0px !important;
                            }
                        }
                    }

                    &:hover > .linksName,
                    &.active > .linksName {
                        color: white;
                    }

                    &:hover:after,
                    &.active:after {
                        width: calc(100% - 6px);
                    }
                }
            }

            > .buttons {
                display: flex;
                height: 100%;
                gap: 0px;
                flex-wrap: nowrap;
                background-color: $pozadi-uvod;
                border: 3px dashed $oddelovac;

                > .oddelovac-vertical {
                    border-left: 3px dashed $oddelovac;
                    height: 100%;
                }

                .account-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    cursor: pointer;
                    user-select: none;
                    padding: 0px 10px;

                    &:hover {
                        color: white;

                        &:after {
                            width: 0px !important;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        row-gap: 8px;
        padding: 6px !important;
        justify-content: center !important;
        height: 120px !important;

        > .navigation {
            max-width: 100%;

            > ul.navList {
                column-gap: 10px !important;
            }
        }
    }
}
