@model VaccineType
@{
    ViewData["Title"] = "Upravit typ vakcíny";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/form.min.css" asp-append-version="true" />
}

<section class="section-container">
    <div class="section-header">
        <h2>@ViewData["Title"]</h2>
    </div>

    <div class="card">
        <form asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="Name">Název</label>
                <input asp-for="Name" placeholder="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>           

            <div class="buttons">
                <button type="submit">
                    <i class='bx bx-save'></i> Uložit změny
                </button>
                <a asp-action="Select" class="button">
                    <i class='bx bx-x-circle'></i> Zrušit
                </a>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Validations/FirstLetterCapitalized.js"></script>
}
